In [2]:
import pandas as pd
import numpy as np
import json
from pprint import pprint

<br>

json読み込み

In [5]:
filename = '../data/participant.json'
fp = open(filename, 'r')
j = json.load(fp)
j = json.loads(j)  # text ---> json 
j

{'A': {'scores': [0.8, 0.77, 0.61, 0.3, 0.64]},
 'B': {'scores': [0.5, 0.66, 0.82, 0.7]},
 'C': {'scores': [0.7, 0.76, 0.52]}}

<br>

name リスト

In [6]:
names = list(j.keys())
names

['A', 'B', 'C']

<br>

best_scores

In [7]:
best_scores = np.array([max(j[name]['scores']) for name in names])
best_scores

array([0.8 , 0.82, 0.76])

<br>

score順のidxを取得

In [8]:
rank_idxs = np.argsort(-best_scores)  # 降順にするために'-'をつけた
rank_idxs

array([1, 0, 2])

In [9]:
rank_names = []
rank_scores = []
rank_n_subs = []
for i in range(len(names)):
    name = names[rank_idxs[i]]
    n_sub = len(j[name]['scores'])
    score = best_scores[rank_idxs[i]]
    rank_names.append(name)
    rank_scores.append(score)
    rank_n_subs.append(n_sub)
    print(f'rank{i+1}: {name}, {score}')

rank1: B, 0.82
rank2: A, 0.8
rank3: C, 0.76

In [10]:
df_rank = pd.DataFrame(np.arange(1, len(names)+1), columns=['#'])
df_rank['Name'] = rank_names
df_rank['Score'] = rank_scores
df_rank['N_Submission'] = rank_n_subs
df_rank

   # Name  Score  N_Submission
0  1    B   0.82             4
1  2    A   0.80             5
2  3    C   0.76             3

<br>
 
save

In [ ]:
df_rank.to_csv('ranking_table.csv', index=False)

<br>

df-->json

In [43]:
json_str = ''
for i in range(len(df_rank)):
    a = df_rank.iloc[i, :]
    s = f"'rank': {a['#']}, 'name': {a['Name']}, 'score': {a['Score']}, 'n_submission': {a['N_Submission']} \n"
    json_str = f'{json_str} {s}'
json_str = json_str[:-1]
json_str

" 'rank': 1, 'name': B, 'score': 0.82, 'n_submission': 4 \n 'rank': 2, 'name': A, 'score': 0.8, 'n_submission': 5 \n 'rank': 3, 'name': C, 'score': 0.76, 'n_submission': 3 "