In [33]:
import pandas as pd
import io
import numpy as np

In [22]:
text = 'series_id,surface\n3792,soft_pvc\n3793,tiled\n3796,wood\n3798,concrete\n3800,soft_pvc'
text = text.split('\n')

print(text)

['series_id,surface', '3792,soft_pvc', '3793,tiled', '3796,wood', '3798,concrete', '3800,soft_pvc']

In [27]:
arr = []
for i in range(len(text)):
    te = text[i].split(',')
    arr.append(te)
print(arr)

[['series_id', 'surface'], ['3792', 'soft_pvc'], ['3793', 'tiled'], ['3796', 'wood'], ['3798', 'concrete'], ['3800', 'soft_pvc']]

In [41]:
df = pd.DataFrame(arr[1:], columns=arr[0])
df

  series_id   surface
0      3792  soft_pvc
1      3793     tiled
2      3796      wood
3      3798  concrete

In [44]:
df['series_id'] = df['series_id'].astype(int)
df

   series_id   surface
0       3792  soft_pvc
1       3793     tiled
2       3796      wood
3       3798  concrete

In [31]:
_ = arr.pop(-1)
arr

[['series_id', 'surface'],
 ['3792', 'soft_pvc'],
 ['3793', 'tiled'],
 ['3796', 'wood'],
 ['3798', 'concrete']]

In [39]:
arr_np = np.array(arr)
arr_np[1:, 0].astype('int')

array([3792, 3793, 3796, 3798])

In [46]:
round(3.5568, 3)

3.557